@use "../abstract/variables" as *;

.game {
  &-over {
    height: 100vh;

    &__title {
      font-size: 10rem;
    }

    &__subtitle {
      font-size: 2rem;
      padding-top: 3rem;
    }

    &__scores {
      display: flex;
      margin-top: 3rem;
      gap: 1rem;
    }
  }
}

.winner {
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__confetti {
    display: none;
  }
}

.theme--code-theme {
  .game {
    &-over {
      background-color: $color-dark;

      &__title {
        font-family: "redRose";
        font-size: bold;
        color: $color-green;
        text-shadow:
          1px 1px 0px #2a9e8a,
          2px 2px 0px #239080,
          3px 3px 0px #1c8272,
          4px 4px 0px #157464,
          5px 5px 0px #0e6656,
          6px 6px 0px #075848;
      }

      &__subtitle {
        font-family: "redRose";
        color: white;
      }

      &__scores {
        font-family: "redRose";
        background: $color-darkgreen;
        padding: 1rem;
        font-size: 1.25rem;
      }

      &__name {
        &--blue {
          color: #2bb1ff;
        }

        &--orange {
          color: #f58e39;
        }
      }
    }
  }

  .winner {
    &__confetti {
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &__confetti.hidden {
      display: none !important;
    }

    &__label {
      font-family: "redRose";
      font-size: 2rem;
      color: white;
    }

    &__name {
      font-family: "redRose";
      color: $color-green;
      font-size: 8rem;
      text-shadow:
        1px 1px 0px #2a9e8a,
        2px 2px 0px #239080,
        3px 3px 0px #1c8272,
        4px 4px 0px #157464,
        5px 5px 0px #0e6656,
        6px 6px 0px #075848;

      &.game-over__name--blue {
        color: #2bb1ff;
        text-shadow: none;
      }

      &.game-over__name--orange {
        color: #f58e39;
        text-shadow: none;
      }
    }

    &__icon {
      margin: 2rem;
      height: 18rem;
    }

    &__btn {
      font-family: "redRose";
      font-size: 1.25rem;
      padding: 1rem;
      margin-top: 2rem;
      color: white;
      border: 1px solid #4dd5bc;
      background-color: #86e9d633;

      &:hover {
        background-color: #4dd5bc;
      }
    }
  }
}

.theme--game-theme {
  .game {
    &-over {
      &__title {
        text-transform: uppercase;
        font-family: "orbitron";
        font-weight: bold;
        color: #fd3c6e;
      }

      &__subtitle {
        color: white;
      }

      &__scores {
        margin-top: 1rem;
        flex-direction: row-reverse;
        background: white;
        border-radius: 8px;
        padding: 0.5rem;
        font-size: 1.25rem;
        gap: 2.5rem;
      }
    }
    &__player {
      gap: 0.25rem;
    }
  }

  .winner {
    &__label {
      font-family: "orbitron";
      color: white;
      font-size: 2rem;
    }

    &__name {
      font-family: "orbitron";
      color: #ed1b76;
      font-size: 6rem;
      font-weight: bold;
    }

    &__icon {
      height: 12rem;
      margin: 2rem;
    }

    &__btn {
      font-family: "orbitron";
      color: white;
      border: 2px solid #ed1b76;
      background: transparent;
      padding: 1rem 2rem;
      border-radius: 8px;
      margin-top: 2rem;

      &:hover {
        background: #ed1b76;
      }
    }
  }

  .winner {
    &__label {
      font-family: "orbitron";
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
    }

    &__name {
      font-family: "orbitron";
      color: #ed1b76;
      font-size: 6rem;
      font-weight: bold;
    }

    &__icon {
      height: 350px;
      margin: 2rem;
    }

    &__btn {
      font-family: "orbitron";
      font-size: 1.25rem;
      color: white;
      border: 2px solid #ed1b76;
      background: transparent;
      padding: 1rem 2rem;
      border-radius: 8px;
      margin-top: 2rem;

      &:hover {
        background: #ed1b76;
      }
    }

    &__confetti {
      display: none !important;
    }

    &__name {
      &.game-over__name--blue {
        color: #2bb1ff;
        font-size: 5rem;
      }

      &.game-over__name--orange {
        color: #f58e39;
        font-size: 5rem;
      }
    }
  }
}
