@use "../abstract" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.screen {
  display: none;

  &--active {
    @include flex-center;
  }
}

.mw-1440 {
  max-width: 1440px;
  margin: 0 auto;
}
